@import "variable.styl"
@import "mixin.styl"
body, html
  line-height: 1
  font-family: 'PingFangSC-Regular', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text-main

//  鼠标移入时变手
.hand
  cursor: pointer

// 背景色内容盒子样式
.normal-box
  background: $color-background
  flex: 1

// * 必填标志
.required-mark
  color: $color-error
  font-size: $font-size-14

// + 号
.add-icon
  display: inline-block
  position: relative
  width: 8px
  height: 8px
  margin-left: 3px
  icon-image('design/icons/icon-plus_young')
  background-size 100% 100%

// 上传icon
.upload-add-icon
  width: 44px
  height: @width
  icon-image('design/icons/icon-addpic')
  background-size 100% 100%
